@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --container: 70%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.sketch {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customize {
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

input, button {
    font: inherit;
    outline: none;
    cursor: pointer;
    color: inherit;
}

.color-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
  
input[type="color"]::-webkit-color-swatch {
    background: transparent;
    border: none;
    border-radius:50%;
}

.color-mode {
    margin-bottom: 1.5rem;
}

#color-picker {
    -webkit-appearance: none;
    border: none;
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: transparent;
    margin-bottom: 1rem;
}

button {
    font-size: .9rem;
    width: 100%;
    padding: 1rem .5rem;
    outline: none;
    background-color: transparent;
    border: 2px solid #17cf64;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.mode.active {
    color: white;
    background-color: rgba(44, 60, 212, 0.692);
}

.customize-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: .75rem;
    margin-top: 1rem;
}

.customize-grid button {
    margin-bottom: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#custom {
    width: 100%;
    padding: .9rem .5rem;
    background-color: transparent;
    border: 2px solid #17cf64;
    border-radius: 5px;
}

#custom.current {
    background-color: bisque;
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 0;
    width: var(--container);
    max-width: 550px;
    min-height: 500px;
    margin: 2rem auto 1rem;
    border: 2px solid turquoise;
}

.container > * {
    aspect-ratio: 1;
    /* border: 2px solid turquoise; */
}

.container > *:hover {
    background-color: wheat;
}

.grid-size.current {
    color: white;
    background-color: rgb(40, 18, 161);
    border-color: rgb(185, 183, 33);
}

.clicked {
    --colorBG: hsl(0, 100%, 15%);
    background-color: var(--colorBG);
}

#eraser.on {
    background-color: #1b8d4b3d;
}