*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 0;
    width: 80vw;
    max-width: 960px;
    margin: 2rem auto 1rem;
    border: 1px solid turquoise;
}

.container > * {
    aspect-ratio: 1;
    border: 2px solid turquoise;
}

.container > *:hover {
    background-color: wheat;
}

.clicked {
    background-color: aqua;
}